In [11]:
import datetime

import csv

import pandas as pd

from sqlalchemy import create_engine

import yfinance as yf 

from bs4 import BeautifulSoup

import requests

from pyspark.sql import SparkSession

import pyspark

from pyspark.context import SparkContext

import pyspark.sql.functions as fc

import pymysql

from pyspark.sql import Row

from pyspark.sql.types import *

In [2]:
sc = SparkContext.getOrCreate()

spark = SparkSession(sc)

In [5]:
connection = pymysql.connect(host='127.0.0.1',
                             user='root',
                             password='PApOEaPbJNOM62p1',
                             db='stockdb'
                            ,port=1234)

In [6]:
cur = connection.cursor()

In [3]:
def industrycompany(cursor,Industry):
    sqlcode=('Select * From CompanyInformation Where Sector="'+Industry+'"')
    cursor.execute(sqlcode)
    Industry = cursor.fetchall()
    compname=[]
    for i in Industry:
        compname.append(i[0])
        
    return compname

In [7]:
compname=industrycompany(cur,'Industrials')

In [8]:
def getprice(name):
    #newdict=dict()
    newlist=[]
    for i in name:
        newdict=dict()
        url='https://finance.yahoo.com/quote/'
        finalurl=url+i+'?p='+i+'&.tsrc=fin-srch'
        #print(finalurl)
        r=requests.get(finalurl)
        soup = BeautifulSoup(r.content,'lxml')
        stockprice=soup.find_all('div',{"My(6px) Pos(r) smartphone_Mt(6px)"})[0].find('span').text
        #print(stockprice)
        newdict['name']=i
        newdict['price']=stockprice
        newlist.append(newdict)
    return newlist

In [9]:
compdict=getprice(compname)

In [12]:
rdd = sc.parallelize(compdict)
schema = StructType([ StructField("name", StringType(), True),StructField("price", StringType(), True)])

In [13]:
df3 = spark.createDataFrame(rdd, schema)

In [14]:
df3.collect()

[Row(name='AAL', price='12.04'),
 Row(name='ALK', price='44.34'),
 Row(name='ALLE', price='112.36'),
 Row(name='AME', price='116.76'),
 Row(name='AOS', price='54.82'),
 Row(name='BA', price='182.15'),
 Row(name='CARR', price='38.06'),
 Row(name='CAT', price='169.46'),
 Row(name='CHRW', price='93.33'),
 Row(name='CMI', price='234.90'),
 Row(name='CPRT', price='117.80'),
 Row(name='CSX', price='90.04'),
 Row(name='CTAS', price='360.04'),
 Row(name='DAL', price='35.02'),
 Row(name='DE', price='249.35'),
 Row(name='DOV', price='120.87'),
 Row(name='EFX', price='159.19'),
 Row(name='EMR', price='74.90'),
 Row(name='ETN', price='114.07'),
 Row(name='EXPD', price='88.61'),
 Row(name='FAST', price='47.24'),
 Row(name='FBHS', price='83.05'),
 Row(name='FDX', price='267.81'),
 Row(name='FLS', price='31.93'),
 Row(name='FTV', price='70.00'),
 Row(name='GD', price='150.29'),
 Row(name='GE', price='8.89'),
 Row(name='GWW', price='403.39'),
 Row(name='HII', price='158.04'),
 Row(name='HON', price='199.29'),
 Row(name='HWM', price='22.28'),
 Row(name='IEX', price='191.44'),
 Row(name='INFO', price='91.45'),
 Row(name='IR', price='42.61'),
 Row(name='ITW', price='213.68'),
 Row(name='J', price='98.85'),
 Row(name='JBHT', price='127.96'),
 Row(name='JCI', price='44.00'),
 Row(name='KSU', price='188.02'),
 Row(name='LHX', price='187.71'),
 Row(name='LMT', price='369.28'),
 Row(name='LUV', price='43.22'),
 Row(name='MAS', price='54.65'),
 Row(name='MMM', price='169.21'),
 Row(name='NLSN', price='15.58'),
 Row(name='NOC', price='309.96'),
 Row(name='NSC', price='233.09'),
 Row(name='ODFL', price='198.00'),
 Row(name='OTIS', price='66.12'),
 Row(name='PCAR', price='90.17'),
 Row(name='PH', price='260.77'),
 Row(name='PNR', price='52.09'),
 Row(name='PWR', price='67.54'),
 Row(name='RHI', price='62.97'),
 Row(name='ROK', price='242.19'),
 Row(name='ROL', price='59.39'),
 Row(name='ROP', price='401.35'),
 Row(name='RSG', price='102.57'),
 Row(name='RTX', price='65.85'),
 Row(name='SNA', price='170.18'),
 Row(name='SWK', price='180.89'),
 Row(name='TDG', price='560.81'),
 Row(name='TDY', price='367.25'),
 Row(name='TT', price='142.96'),
 Row(name='TXT', price='41.85'),
 Row(name='UAL', price='38.51'),
 Row(name='UNP', price='200.00'),
 Row(name='UPS', price='166.64'),
 Row(name='URI', price='207.25'),
 Row(name='VRSK', price='199.83'),
 Row(name='WAB', price='68.11'),
 Row(name='WM', price='122.80'),
 Row(name='XYL', price='93.80')]